[title] {
    color: red;
}
[title="About me"] {
    color: orange;
}
[title~="tainer"] {
    color: brue;
}
[title*="tainer"] {
    color: green;
}
[title^="More"] {
    color: violet;
}
[title$="skills"] {
    color: cadetblue;
}






